.biz-index-item-img-container {
  overflow: hidden;
  height: 90px;
  width: 90px;
  margin-right: 10px;
  border-radius: 3px;
}

.biz-index-item-img {
  height: 90px;
  border-radius: 4px;
}

.biz-index-item-name {
  // padding: 1px, 1px, 9px, 2px;
}

.biz-index-item-price-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
  font-size: 14px;
}

.biz-index-item-price-dot {
  color: gray;
  margin: 0px 8px 0px 8px;
  width: 3px;
  height: 8px;
  display: flex;
  align-items: center;
}

.biz-index-item-description {
  // border: 1px solid red;
  width: 280px;
  height: 90px;
  padding-right: 10px;
}

.biz-index-item-cat-span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.biz-index-item-categories-span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.biz-index-item-cat-comma {
  margin-right: 4px;
}

.biz-index-item-location {
  border: 1px solid green;
  width: 225px;
  height: 90px;
}

.biz-index-item-review {
  // border: 1px solid blue;
  width: 618px;
  // height: 30px;
  display: flex;
}

.biz-index-item-top {
  display: flex;
}

.biz-index-item-bottom {
  display: flex;
  position: absolute;
  margin-top: 110px;
}

.biz-index-review-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 5px;
}

.biz-index-review-pic {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}

.biz-index-review-body {
  font-size: 13.5px;
  margin-left: 5px;
  line-height: 18px;
}
