.biz-profile-bottom-master-master {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 1000px;
}

.biz-profile-bottom-master-container {
  width: 1000px;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.biz-profile-bottom-master-div {
  width: 1000px;
}

.bottom-shelf-master-div {
  display: flex;
  flex-direction: row;
}

.bottom-shelf-reviews-label-div {
  margin-bottom: 12px;
}

.bottom-shelf-reviews-label {
  color: #D92626;
  font-size: 21.5px;
  font-weight: 900;
  margin-right: 5px;
}

.bottom-shelf-reviews-label-name {
  font-size: 21.5px;
}

.bottom-shelf-left-div {
  width: 650px;
  padding: 25px 25px 0px 25px;
}

.bottom-shelf-right-div {
  width: 300px;
  margin-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border-left: 1px solid #E1E1E1;
}

.biz-profile-review-div {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #E1E1E1;
  padding: 15px 5px 15px 0px;
  margin-right: 5px;
}

.biz-profile-review-div:last-child {
  border-bottom: 1px solid #E1E1E1;
}

.biz-profile-review-author-image {
  width: 55px;
  border-radius: 4px;
}

.biz-profile-review-author-info {
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  font-size: 13px;
  font-weight: 700;
}

.biz-profile-review-body {
  width: 400px;
  font-size: 13px;
}

.biz-profile-reviews-stars-date-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.biz-profile-review-date {
  padding-top: 1px;
  padding-left: 6px;
  margin-left: 10px;
}

.biz-profile-review-body-body {
  margin-top: 17px;
  font-size: 14.5px;
  line-height: 17px;
}

.biz-profile-sidebar-description {
  font-weight: 800;
  color: #D92626;
  font-size: 16px;
  margin-bottom: 15px;
}

.biz-profile-hours-day {
  font-weight: 800;
  font-size: 14px;
  width: 40px;
}

.biz-profile-hours-div {
  line-height: 19px;
  display: flex;
  flex-direction: row;
}

.biz-profile-hours-open {
  font-size: 14px;
}
.biz-profile-hours-dash {
  font-size: 14px;
  padding-right: 4px;
  padding-left: 4px;
}
.biz-profile-hours-close {
  font-size: 14px;
}
