.biz-index-item-img-container {
  overflow: hidden;
  height: 90px;
  width: 90px;
  margin-right: 10px;
  border-radius: 3px;
}

.biz-index-item-img {
  height: 90px;
  border-radius: 3px;
}

.biz-index-item-name {
  padding: 1px, 1px, 1px, 2px;
}

.biz-index-item-price-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3px;
}

.biz-index-item-price-dot {
  color: gray;
  margin: 0px 8px 0px 8px;
  width: 3px;
  height: 8px;
  display: flex;
  align-items: center;
}

.biz-index-item-description {
  border: 1px solid red;
  width: 280px;
  height: 90px;
  padding-right: 10px;
}

.biz-index-item-location {
  border: 1px solid green;
  width: 225px;
  height: 90px;
}

.biz-index-item-review {
  border: 1px solid blue;
  width: 618px;
  height: 60px;
  display: flex;
}

.biz-index-item-top {
  display: flex;
}

.biz-index-item-bottom {
  display: flex;
  position: absolute;
  margin-top: 110px;
}
