$red: #D92626;
$dark-red: #BB1E1E;
$darker-red: #8D1C1C;
$form-button-highlight-red: #F31616;
$footer-labels-red: #D30000;

$link-blue: #0072B2;

$border-light-gray: #E1E1E1;
$border-dark-gray: #CDCDCD;
$background-light-gray: #F7F7F7;
$biz-profile-text-gray: #717171;
