.header-default-links-container {
  background-color: #BB1E1E;
  color: white;
  display: flex;
  position: relative;
  min-width: 1000px;
  justify-content: center;
}

.header-default-links {
  background-color: #BB1E1E;
  display: flex;
  width: 100px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 800;
  width: 955px;
  justify-content: flex-start;
}

.header-default-link {
  color: white;
  text-decoration: none;
  padding: 6px 12px 6px 12px;
  margin-right: 19px;
}

.header-default-link-period {
  padding: 4px 25px 0px 7px;
}

.header-default-login {
  color: white;
  text-decoration: none;
  padding: 6px 18px 6px 18px;
  margin-right: 0px;
}

.header-default-space {
  width: 58px;
}

.header-default-link:hover, .header-default-login:hover {
  background-color: #8D1C1C;
}

.header-default-login:focus {
  outline-width: 0px;
}

#header-default-link-first {
  margin-left: 5px;
}

* {
  transition: color 0.5s;
}

.about-me {
  -webkit-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {color: white;}
  33% {color: darkred;}
  66% {color: #02AD00;}
  100% {color: white}
}
