
.footer-container {
  display: flex;
  justify-content: center;
  min-width: 1000px;
  background-color: #F7F7F7;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #CDCDCD;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  min-width: 1000px;
  position: relative;
}

.footer-column {
  // width: 200px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
}

.footer-label {
  color: #D30000;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px
}

#footer-countries {
  margin-top: 30px;
}

.footer-link {
  color: #0072B2;
  margin-bottom: 7px;
  text-decoration: none;
}

.footer-pic-container {
  display: flex;
  justify-content: center;
  min-width: 1000px;
  background-color: #F7F7F7;
}

.footer-pic-div {
  display: flex;
  justify-content: center;
  min-width: 1000px;
  position: relative;
  height: 50px;
}

.footer-pic {
  width: 600px;
  opacity: 0.5;
  display: none;
}

@media screen and (min-width:1000px) {
  .footer-pic {
    display: flex;
  }
}
