.footer-master-container {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  padding-top: 40px;
  border-top: 1px solid #CDCDCD;
}

.footer-top {
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  min-width: 1000px;
  position: relative;
}

.footer-column {
  // width: 200px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
}

.footer-label {
  color: #D30000;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px
}

#footer-countries {
  margin-top: 30px;
}

.footer-link {
  color: #0072B2;
  margin-bottom: 7px;
  text-decoration: none;
}

.footer-pic-container {
  display: flex;
  justify-content: center;
  min-width: 1000px;
  background-color: #F7F7F7;
}

.footer-pic-div {
  display: flex;
  justify-content: center;
  min-width: 1000px;
}

.footer-pic {
  width: 600px;
  opacity: 0.5;
  display: flex;
}

@media screen and (min-height:800px) {
  .footer-master-container {
    height: 550px;
  }
}

.footer-me-div {
  margin-bottom: 23px;
}

.footer-row {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.name {
  justify-content: center;
  padding-bottom: 14px;
  font-family: 'Shadows Into Light', cursive;
}

.footer-name-by {
  font-size: 20px;
  padding-top: 5px;
}

.footer-me-name {
  text-decoration: none;
  padding-right: 6px;
  padding-left: 8px;
}

.footer-me-name:visited {
  color: #D30000;
}

.footer-me-name:hover {
  text-decoration: underline;
}

.footer-me-FA {
  color: #0072B2;
  animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.footer-me-FA:hover {
  color: #000099;
  animation-name: spin;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes roll {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.footer-route {
  align-self: flex-end;
}

.footer-master-container {
  background-color: #F7F7F7;
}


.walle-ball-master-container {
  display: flex;
  justify-content: center;
}

.walle-ball-container {
  margin-bottom: 12px;
}

.walle-ball-desc {
  color: #0072B2;
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  justify-content: center;
}

.walle-ball-div {
  display: flex;
  justify-content: center;
}

.walle-ball-pic {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  margin-bottom: 2px;
}

.walle-ball-link {
  text-decoration: none;
}

.walle-ball-link:visited {
  text-decoration: none;
  color: #0072B2;
}

.walle-ball-link:hover {
  font-size: 17px;
  color: #000099;
}

.walle-ball-link-pic .walle-ball-pic:hover {
  width: 54.5px;
  height: 54.5px;
}
