.signed-out {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-width: 1000px;
}

.homePic {
  width: 100%;
  height: 600px;
  display: flex;
  position: absolute;
  min-width: 1000px;
  justify-content: center;
  opacity: 0.8;
  object-fit: cover;
}

.session-start {
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin-right: 50px;
  margin-top: 40px;
  display: flex;
  position: relative;
  z-index: 1;
  font-family: Arial, sans-serif;
}
