// everything within the .fixed-size-box in home.scss
// .fixed-size-box {
//   width: 1000px;
//   height: 600;
//   display: flex;
//   justify-content: center;
// }

.fixed-size-box-organizer {
  display: flex;
  position: relative;
  flex-direction: column;
}

.fixed-size-others {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainLogo {
  display: flex;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 30px;
}

.mainSearch {
  display: flex;
  align-items: center;
}

.mainSearchInput {
  padding: 12px 10px 12px 10px;
  width: 360px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  border: 0px;
}

.mainSearchInput:focus {
  outline-width: 0px;
}

.mainSearchLabel {
  font-size: 19px;
  font-weight: 700;
  color: gray;
  background-color: white;
  font-family: Arial, sans-serif;
  border: 0px
}

.mainSearchSubmit {
  color: white;
  font-size: 19px;
  font-family: Arial, sans-serif;
  padding: 11px 14px 13px 14px;
  border-radius: 0 4px 4px 0;
  background-color: #D92626;
  font-weight: 700;
  border: 0px;
  margin-top: 1px;
}

.mainSearchSubmit:focus {
  outline-width: 0px;
}

.mainSearchSubmit:hover {
  background-color: #BB1E1E;
  cursor: pointer;
}

#mainSearchFirst {
  border-radius: 4px 0 0 4px;
  padding: 11px 10px 12px 10px;
}

#mainSearchSecond {
  padding: 7px 0px 6px 0px;
}

.shortBorder {
  border-left: 1px solid lightgray;
  padding-left: 10px;
  padding: 4px 10px 6px 10px;
}

.mainLinks {
  display: flex;
  align-items: center;
}

.mainLink {
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin-top: 8px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  padding: 15px;
  padding-left: 5px;
  text-decoration: none;
  margin-right: 15px;
}

.photoCred {
  display: flex;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
  color: white;
  font-size: 14px;
  font-weight: 550;
  font-family: Arial, sans-serif;
  padding: 15px;
  text-decoration: none;
}

.photoCredName{
  display: flex;
  font-size: 14.5px;
}

.photoName {
  font-weight: 900;
  text-decoration: none;
  margin-left: 3px;
  color: white;
  font-size: 14.5px;
}

.photoName:hover {
  text-decoration: underline;
}

.photoLocation {
  font-weight: 900;
  text-decoration: none;
  color: white;
  margin-bottom: 2px;
  font-size: 14.5px;
}

.photoLocation:hover {
  text-decoration: underline;
}
