.logo:active {
  color: white;
  text-decoration: none;
}
.logo:hover {
  color: white;
  text-decoration: none;
}
.logo:visited {
  color: white;
  text-decoration: none;
}
.logo:link {
  color: white;
  text-decoration: none;
}

.chefPic {
  width: 45px;
  height: auto;
}

.bigChefPic {
  width: 68px;
  height: auto;
}

.bigLogo {
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: Marker Felt, fantasy;
  text-decoration: none;
}
