.review-form-right-div {
  width: 300px;
  // border-left: 1px solid #E1E1E1;
  padding-left: 15px;
}

.review-form-other-reviews-div {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #E1E1E1;
  padding: 15px 5px 15px 0px;
  margin-right: 5px;
  // border-left: 1px solid #E1E1E1;
}

.review-form-other-reviews-div:last-child {
  border-bottom: 1px solid #E1E1E1;
}

.review-form-top-bottom {
  display: flex;
  flex-direction: row;
}

.review-form-intro-right {
  font-weight: 800;
  color: #D92626;
  font-size: 16px;
  // margin-bottom: 11px;
  padding-bottom: 6px;
  // border-bottom: 1px solid #E1E1E1;
  // border-left: 1px solid #E1E1E1;
}

.review-form-other-reviews-author-image {
  width: 55px;
  border-radius: 4px;
  // border-left: 1px solid #E1E1E1;
}

.review-form-other-reviews-author-info {
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  font-size: 13px;
  font-weight: 700;
}

.review-form-other-reviews-body {
  width: 400px;
  font-size: 13px;
}

.review-form-other-reviews-stars-date-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-form-other-reviews-date {
  padding-top: 1px;
  padding-left: 1px;
  margin-left: 0px;
}

.review-form-other-reviews-body-body {
  margin-top: 17px;
  font-size: 14px;
  line-height: 17px;
  width: 295px;
}
