// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header.session {
  height: 64px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  font-family: Marker Felt, fantasy;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  z-index: 3;
}

.header-container {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  background-color: #D92626;
  margin-bottom: 35px;
  min-width: 1000px;
}

.form-container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 320px;
  flex-direction: row;
  margin-left: 50px;
}

.form-div {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.intro-big {
  color: #D92626;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin-bottom: 8px;
}

.intro-small {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

.form-input {
  width: 265px;
  padding: 4px;
  font-size: 14px;
  border-radius: 4px;
}

.form-button {
  width: 278px;
  height: 30px;
  padding: 0px;
  border: none;
  background-color: #D92626;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
}

h2.switch-comment {
  color: gray;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.switch-link {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.form-name {
  display: flex;
  flex-direction: row;
}

.input-name {
  width: 125px;
  padding: 4px;
  font-size: 14px;
  border-radius: 4px;
}

.input-name:last-child {
  margin-left: 4px;
}

.welcome-div {
  width: 500px;
  margin-top: 42px;
}

.welcome-img {
  width: 500px;
}

.form-welcome-container {
  display: flex;
  position: relative;
  justify-content: center;
  min-width: 1000px;
}
