.stars {
  display: flex;
  flex-direction: row;
  margin: 3px 0px;
}

.star {
  width: 20px;
  height: 20px;
  padding: 0px, 2px, 0px, 0px;
}

.star-big {
  width: 28px;
  height: 28px;
  padding: 0px, 2px, 0px, 0px;
}

.biz-profile-write-review-star {
  width: 28px;
  height: 28px;
  padding: 0px 5px 0px 0px;
}
